html,body{
  margin:0;
  padding:0;
  overflow:hidden;
  background:#05060a;
  color:#00ffff;
  font-family:system-ui,Arial;
}

canvas{
  display:block;
}

#hud{
  position:fixed;
  top:12px;
  left:12px;
  font-size:14px;
  z-index:10;
}

#jumpBtn{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  padding:14px 28px;
  border-radius:30px;
  background:#00ffff;
  color:#000;
  font-weight:700;
  border:none;
  z-index:10;
}
